@charset "UTF-8";

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .banner-btns, .download-app-btns {
    gap: 2rem;
  }
  .section-divider svg {
    height: 150px;
  }
  .nav-tabs .nav-link {
    flex-basis: min(50%, 200px);
  }
  .main-image .anim-shape {
    display: block;
  }
  .anim-shape.bottom-left {
    width: 350px;
  }
  .feature-icon svg {
    width: 3.5rem;
    height: 3.5rem;
  }
  .client-img img {
    width: 10rem;
  }
  .quote-icon {
    width: 3.5rem;
    height: 3.5rem;
  }
  .counter-board {
    gap: 2rem;
  }
  .count-detail {
    flex-basis: calc(50% - 1rem);
  }
  .copyright .external-links {
    gap: 1.5rem;
    flex-wrap: nowrap;
  }
  .external-links a {
    font-size: var(--bs-body-font-size);
  }
  .external-links .contact-link {
    flex-shrink: 1;
    text-align: left;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar-brand {
    width: 4rem;
  }
  .navbar-nav {
    column-gap: 1.5rem;
  }
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
  .nav-item .nav-link, .nav-btn .btn {
    height: 3rem;
    line-height: 2;
  }
  .nav-link::before {
    width: 0%;
    height: 2px;
    inset: auto 0 0;
  }
  .nav-link.active::before,
  .nav-link:focus::before,
  .nav-link:hover::before {
    height: 2px;
    width: min(100%, 65px);
  }
  .section-divider svg {
    width: calc(150% + 2px);
  }
  .sec-spacer {
    min-height: 5rem;
  }
  .play-icon {
    height: 6rem;
    width: 6rem;
    --bs-btn-border-width: 6px;
    --bs-btn-font-size: 1.75rem;
  }
  .carousel-indicators [data-bs-target] {
    width: 1rem;
    height: 1rem;
  }
  .client-img img {
    width: 12rem;
  }
  .quote-icon {
    width: 4rem;
    height: 4rem;
  }
  .icon-block {
    min-height: 15rem;
    align-items: center;
  }
  .copyright {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-nav {
    column-gap: 2rem;
  }
  .section-divider svg {
    width: calc(100% + 2px);
    height: 120px;
  }
  .feature-icon {
    width: 9rem;
    height: 9rem;
  }
  .feature-icon svg {
    width: 4rem;
    height: 4rem;
  }
  .testimonials-card {
    background: linear-gradient(to right, rgb(221 241 249) 0% 84%, rgb(255 255 255) 84% 100%);
  }
  .client-img {
    background: transparent;
  }
  .client-img img {
    width: 15rem;
  }
  .icon-block {
    min-height: 20rem;
  }
  .banner-btns, .download-app-btns {
    gap: 1.5rem;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .counter-board {
    gap: 1rem;
  }
  .count-detail {
    flex-basis: calc(25% - 0.75rem);
  }
  .footer-about .download-app-btns {
    column-gap: 1rem;
  }
  .footer-logo {
    margin: 0;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .navbar-nav {
    column-gap: 2.5rem;
  }
  .section-divider svg {
    height: 150px;
  }
  .sec-spacer {
    min-height: 8rem;
  }
  .icon-block {
    min-height: 25rem;
  }
  .feature-icon {
    width: 10rem;
    height: 10rem;
  }
  .play-icon {
    height: 8rem;
    width: 8rem;
    --bs-btn-border-width: 8px;
    --bs-btn-font-size: 2.5rem;
  }
  .testimonials-card {
    background: #ddf1f9;
  }
  .testimonials-card .order-lg-last {
    align-self: flex-start;
    transform: translateY(-50%);
  }
  .counter-board {
    gap: 1rem;
  }
  .count-detail {
    flex-basis: calc(25% - 0.75rem);
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .banner-btns {
    width: 75%;
  }
  .icon-block {
    min-height: 30rem;
  }
  .play-icon {
    --bs-btn-font-size: 2rem;
  }
}