@charset "UTF-8";

/* Root Variables */
:root {
    --lh-xs: 1;
    --lh-sm: 1.25;
    --lh-md: 1.75;
    --lh-lg: 2;
    --fw-thin: 100;
    --fw-exlight: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-exbold: 800;
    --fw-black: 900;
    --bs-danger: #ff4757;
    --bs-danger-rgb: 255, 71, 87;
    --bs-primary: #264BB4;
    --bs-primary-rgb: 38, 75, 180;
    --bs-secondary: #70c5eb;
    --bs-secondary-rgb: 112, 197, 235;
    --bs-tertiary: #ea8685;
    --bs-tertiary-rgb: 234, 134, 133;
    --bs-light: #eaeefb;
    --light-bg: #f4f7ff;
    --light-bg-rgb: 244, 247, 255;
    --bs-light-rgb: 234, 238, 251;
    --bs-dark: #03050D;
    --bs-dark-rgb: 3, 5, 13;
    --bs-body-color-rgb: var(--bs-dark-rgb);
    --bs-body-bg-rgb: var(--bs-white-rgb);
    --bs-body-color: var(--bs-dark);
    --bs-body-bg: var(--bs-white);
    --bs-font-sans-serif: 'Montserrat', sans-serif;
    --ease-transition: ease-in-out;
    --fast-ease-transition: all 200ms var(--ease-transition);
    --slow-ease-transition: all 500ms var(--ease-transition);
    --smooth-ease-transition: all 300ms var(--ease-transition);
    --cubic-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --fast-cubic-transition: all 200ms var(--cubic-transition);
    --slow-cubic-transition: all 500ms var(--cubic-transition);
    --smooth-cubic-transition: all 300ms var(--cubic-transition);
    --bs-gradient: linear-gradient(180deg, rgb(112, 197, 235), rgb(39, 76, 183));
    --bs-multi-color-gradient: linear-gradient(180deg, rgb(136, 222, 253), rgb(28, 123, 172), rgb(47, 77, 172), rgb(20, 70, 187));
}

/* Universal Styling */
body {
    margin: 0;
    padding: 0;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    font-size: var(--bs-body-font-size);
    text-align: var(--bs-body-text-align);
    font-family: var(--bs-body-font-family);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.fw-medium {
    font-weight: var(--fw-medium);
}
.fw-semibold {
    font-weight: var(--fw-semibold);
}
.fw-exbold {
    font-weight: var(--fw-exbold);
}
section, div {
    position: relative;
}
a {
    text-decoration: none;
}
.light-bg {
    background-color: var(--light-bg);
}
.sec-spacer {
    display: block;
    min-height: 2rem;
}

/* Section Main Title Styling */
.main-title {
    font-size: clamp(2rem, calc(1.5rem + 1.5vw), 4rem);
}

/* Text Selection Styling */
::selection {
    color: var(--bs-white);
    background-color: var(--bs-secondary);
}
::-moz-selection {
    color: var(--bs-white);
    background-color: var(--bs-secondary);
}
::-o-selection {
    color: var(--bs-white);
    background-color: var(--bs-secondary);
}
::-ms-selection {
    color: var(--bs-white);
    background-color: var(--bs-secondary);
}
::-webkit-selection {
    color: var(--bs-white);
    background-color: var(--bs-secondary);
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 0.25rem;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
}
::-webkit-scrollbar-thumb {
    border-radius: var(--bs-border-radius-pill);
    background-color: var(--bs-primary);
}

/* Universal Form Styling */
.form-floating>label {
    color: #ced4da;
}
.form-control {
    color: var(--bs-primary);
    font-weight: var(--fw-medium);
}
.form-control:focus {
    color: var(--bs-primary);
    border-color: var(--bs-primary);
    box-shadow: none;
}
.form-floating>.form-select~label,
.form-floating>.form-control:focus~label,
.form-floating>.form-control-plaintext~label,
.form-floating>.form-control:not(:placeholder-shown)~label {
    color: var(--bs-primary);
}
/* Removing Spinner from the Number Input field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

/* Transition Effects */
.slow_ease_trans {
    -webkit-transition: var(--slow-ease-transition);
    -moz-transition: var(--slow-ease-transition);
    -ms-transition: var(--slow-ease-transition);
    -o-transition: var(--slow-ease-transition);
    transition: var(--slow-ease-transition);
}
.slow_cubic_trans {
    -webkit-transition: var(--slow-cubic-transition);
    -moz-transition: var(--slow-cubic-transition);
    -ms-transition: var(--slow-cubic-transition);
    -o-transition: var(--slow-cubic-transition);
    transition: var(--slow-cubic-transition);
}
.smooth_ease_trans {
    -webkit-transition: var(--smooth-ease-transition);
    -moz-transition: var(--smooth-ease-transition);
    -ms-transition: var(--smooth-ease-transition);
    -o-transition: var(--smooth-ease-transition);
    transition: var(--smooth-ease-transition);
}
.smooth_cubic_trans {
    -webkit-transition: var(--smooth-cubic-transition);
    -moz-transition: var(--smooth-cubic-transition);
    -ms-transition: var(--smooth-cubic-transition);
    -o-transition: var(--smooth-cubic-transition);
    transition: var(--smooth-cubic-transition);
}
.fast_ease_trans {
    -webkit-transition: var(--fast-ease-transition);
    -moz-transition: var(--fast-ease-transition);
    -ms-transition: var(--fast-ease-transition);
    -o-transition: var(--fast-ease-transition);
    transition: var(--fast-ease-transition);
}
.fast_cubic_trans {
    -webkit-transition: var(--fast-cubic-transition);
    -moz-transition: var(--fast-cubic-transition);
    -ms-transition: var(--fast-cubic-transition);
    -o-transition: var(--fast-cubic-transition);
    transition: var(--fast-cubic-transition);
}

/* Buttons Styling */
.btn {
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-padding-y: 0.75rem;
    --bs-btn-color: var(--bs-primary);
    --bs-btn-font-weight: var(--fw-medium);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 0;
    --bs-btn-border-radius: 0.625rem;
    --bs-btn-focus-box-shadow: 0 0.5rem 1rem 0 rgba(var(--bs-btn-focus-shadow-rgb), 0.325);
    height: 3.5rem;
    width: min(100%, 15rem);
    display: flex;
    overflow: hidden;
    column-gap: 0.5rem;
    position: relative;
    align-items: center;
    justify-content: center;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}
.btn:hover {
    box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn-primary {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #1D3A8B;
    --bs-btn-focus-shadow-rgb: var(--bs-secondary-rgb);
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-bg: #142861;
    --bs-btn-active-border-color: #142861;
}
.btn-light {
    --bs-btn-bg: var(--bs-light);
    --bs-btn-hover-color: var(--bs-light);
    --bs-btn-hover-bg: #B7C6F0;
    --bs-btn-focus-shadow-rgb: var(--bs-secondary-rgb);
    --bs-btn-active-color:  var(--bs-light);
    --bs-btn-active-bg: #8DA5E7;
}
.btn-dark {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bs-dark);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #142861;
    --bs-btn-focus-shadow-rgb: var(--bs-secondary-rgb);
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-bg: #0C1737;
}
.btn-dark::before, .btn-light::before, .btn-primary::before {
    z-index: -1;
    width: 100%;
    content: '';
    height: 100%;
    position: absolute;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    background-color: var(--bs-secondary);
    -webkit-transition: var(--fast-cubic-transition);
    -moz-transition: var(--fast-cubic-transition);
    -ms-transition: var(--fast-cubic-transition);
    -o-transition: var(--fast-cubic-transition);
    transition: var(--fast-cubic-transition);
}
.btn-hover-primary::before {
    background-color: var(--bs-primary);
}
.btn-dark:hover::before, .btn-dark:focus::before, .btn-dark.active::before,
.btn-light:hover::before, .btn-light:focus::before, .btn-light.active::before,
.btn-primary:hover::before, .btn-primary:focus::before, .btn-primary.active::before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.play-icon {
    height: 5rem;
    width: 5rem;
    overflow: visible;
    position: relative;
    --bs-btn-border-width: 4px;
    --bs-btn-font-size: 1.5rem;
    --bs-btn-color: var(--bs-white);
    --bs-btn-hover-bg: var(--bs-white);
    --bs-btn-border-color: var(--bs-white);
    --bs-btn-hover-color: var(--bs-primary);
    --bs-btn-hover-border-color: transparent;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
}
.play-icon::before, .play-icon::after {
    inset: 0;
    opacity: 1;
    z-index: -1;
    width: 100%;
    content: '';
    height: 100%;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    background-color: var(--bs-white);
    animation: none 2s linear infinite;
}
.play-icon::after {
    animation-delay: 1s;
}
.play-icon:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}
.play-icon:hover::before, .play-icon:hover::after {
    animation-name: ripple-effect;
}

/* Navigation Styling */
.navbar-brand {
    width: 3rem;
}
.navbar-nav {
    row-gap: 1rem;
}
.nav-link, .nav-link:focus, .nav-link:hover {
    color: var(--bs-white);
    font-weight: var(--fw-medium);
}
.nav-link {
    overflow: hidden;
    position: relative;
}
.nav-link::before {
    inset: 0;
    height: 0%;
    width: 2px;
    content: '';
    position: absolute;
    background-color: var(--bs-white);
    border-radius: var(--bs-border-radius);
    -webkit-transition: var(--fast-cubic-transition);
    -moz-transition: var(--fast-cubic-transition);
    -ms-transition: var(--fast-cubic-transition);
    -o-transition: var(--fast-cubic-transition);
    transition: var(--fast-cubic-transition);
}
.nav-link.active::before,
.nav-link:focus::before,
.nav-link:hover::before {
    height: 100%;
}

/* Navigation Download Button Styling */
.nav-btn .btn {
    margin: auto;
}

/* Hamburger Menu Styling */
.navbar .navbar-toggler {
    height: 2.5rem;
    display: flex;
    overflow: hidden;
    column-gap: 0.5rem;
    align-items: stretch;
    padding: 0.5rem 1rem;
    justify-content: center;
    border-radius: var(--bs-border-radius-lg);
}
.navbar .navbar-toggler,
.navbar .navbar-toggler:focus,
.navbar .navbar-toggler:hover {
    color: var(--bs-primary);
    background-color: var(--bs-body-bg);
}
.navbar-toggler.collapsed {
    color: var(--bs-white);
    background-color: transparent;
}
.navbar-toggler .toggler_icons {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(1.5rem - 2px);
    justify-content: space-evenly;
}
.navbar-toggler span.icon-bar,
.navbar-toggler.collapsed span.icon-bar {
    width: 100%;
    height: 2px;
    display: flex;
    background-color: var(--bs-white);
}
.navbar-toggler span.icon-bar,
.navbar-toggler:hover span.icon-bar,
.navbar-toggler:focus span.icon-bar {
    background-color: var(--bs-primary);
}
.navbar-toggler span.first-bar {
    transform-origin: 10% 10%;
    transform: rotate(45deg);
}
.navbar-toggler span.second-bar {
    opacity: 0;
    transform: translateX(100%);
}
.navbar-toggler.collapsed span.second-bar {
    opacity: 1;
    transform: translateX(0);
}
.navbar-toggler span.third-bar {
    transform-origin: 10% 90%;
    transform: rotate(-45deg);
}
.navbar-toggler.collapsed span.first-bar,
.navbar-toggler.collapsed span.third-bar {
    width: 50%;
    transform: rotate(0);
}
.navbar-toggler.collapsed span.first-bar {
    align-self: flex-start;
}
.navbar-toggler.collapsed span.third-bar {
    align-self: flex-end;
}

/* Index Page Banner Section Styling */
.banner-cont {
    z-index: 2;
    position: relative;
}
.banner-cont .title {
    font-size: clamp(1.75rem, calc(1.5rem + 1.5vw), 4rem);
}
.banner-btns, .download-app-btns {
    width: 100%;
    gap: 1rem;
    border-radius: 0;
    flex-wrap: wrap;
}
.download-app-btns {
    align-items: center;
    justify-content: center;
}
.section-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotateY(180deg);
}
.section-divider.reverse {
    transform: rotateY(0deg);
}
.section-divider svg {
    position: relative;
    display: block;
    width: calc(180% + 2px);
    height: 100px;
}

/* Index Page Main Section Styling */
.particle-section {
    overflow: hidden;
    position: relative;
}
.main-image .anim-shape {
    z-index: 0;
    display: none;
    position: absolute;
    transform: rotate(-25deg);
}
.section-details, .main-image .img-fluid {
    z-index: 2;
    position: relative;
}
.anim-shape.top-right {
    inset: -10% 0 auto auto;
}
.anim-shape.top-left {
    inset: -10% auto auto 0;
}
.anim-shape.bottom-right {
    inset: auto 0 -10% auto;
}
.anim-shape.bottom-left {
    inset: auto auto -15% -10%;
    transform: rotate(225deg);
}
.feature-icon {
    margin: auto;
    width: 8rem;
    height: 8rem;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--bs-primary-rgb), 0.1);
}
.feature-icon svg {
    width: 3rem;
    height: 3rem;
}
.feature-icon.light-icon {
    background-color: rgba(var(--bs-secondary-rgb), 0.15);
}

/* Index Page Video Section Styling */
.video::before {
    inset: 0;
    width: 100%;
    content: '';
    height: 100%;
    opacity: 0.5;
    position: absolute;
    background-color: var(--bs-light);
}
.video.bg-image {
    background: center no-repeat url("../images/index/video_bg.jpg");
    background-size: cover;
}
.video .main-title {
    filter: drop-shadow(0 2px 2px rgba(var(--bs-dark-rgb), 0.5));
}
.icon-block {
    width: 100%;
    display: flex;
    min-height: 10rem;
    align-items: flex-end;
    justify-content: center;
}

/* Download App Section Styling */
.download-app-btn:hover img, .download-app-btn:focus img {
    transform: scale(0.98);
}

/* Testimonials and Faqs Section Styling */
.nav-tabs {
    --bs-nav-link-padding-x: 0;
    --bs-nav-tabs-border-width: 0;
    --bs-nav-tabs-link-active-bg: var(--bs-white);
    --bs-nav-tabs-link-active-color: var(--bs-primary);
    --bs-nav-tabs-link-active-border-color: var(--bs-white);
}
.nav-tabs .nav-link {
    text-align: left;
    font-size: 1.125rem;
    color: var(--bs-primary);
    flex-basis: min(50%, 150px);
    font-weight: var(--fw-semibold);
}
.nav-tabs .nav-link::before {
    top: auto;
    width: 0%;
    height: 2px;
    background-color: var(--bs-dark);
}
.nav-tabs .nav-link:focus::before, .nav-tabs .nav-link:hover::before, .nav-tabs .nav-link.active::before {
    width: min(50%, 100px);
}
/* Index Carousel Styling */
.carousel-inner {
    overflow-y: visible;
}
.testimonials-card {
    background-color: #ddf1f9;
}
.client-img {
    text-align: center;
    background: linear-gradient(rgb(255 255 255) 0 50%, rgb(221 241 249) 50% 100%);
}
.client-img img {
    width: 8rem;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
}
.carousel-indic-cntrl {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.carousel-indicators {
    margin: 0;
    position: relative;
    column-gap: 0.75rem;
}
.carousel-indicators [data-bs-target] {
    border: 0;
    margin: 0;
    opacity: 0.15;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: var(--bs-dark);
}
.carousel-indicators .active {
    opacity: 1;
}
.carousel-control {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
}
.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
    transform: scale(1.25);
    transform-origin: center left;
}
.carousel-control-next, .carousel-control-prev {
    width: 100%;
    position: relative;
    color: var(--bs-dark);
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 3rem;
    height: 3rem;
}
.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 150 150' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M147 75H3' stroke='%2303050D' stroke-width='6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M28 50L3 75L28 100' stroke='%2303050D' stroke-width='6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 150 150' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 75H147' stroke='%2303050D' stroke-width='6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M122 50L147 75L122 100' stroke='%2303050D' stroke-width='6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
/* Index Accordion Styling */
.accordion {
    --bs-accordion-bg: var(--bs-body-bg);
    --bs-accordion-color: var(--bs-body-color);
    --bs-accordion-transition: var(--smooth-ease-transition);
    --bs-accordion-border-width: 0;
    --bs-accordion-btn-padding-x: 0;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: var(--bs-primary);
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon: none;
    --bs-accordion-btn-active-icon: none;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-body-padding-x: 0;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: var(--bs-primary);
    --bs-accordion-active-bg: var(--bs-body-bg);
}
.accordion-button {
    font-weight: var(--fw-semibold);
    font-size: clamp(1rem, calc(1rem + 1vw), 1.25rem);
}

/* Counter Styling */
.counter-board {
    gap: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.count-detail {
    flex-basis: 100%;
}
.count-main {
    font-size: clamp(2rem, calc(2rem + 2vw), 3rem);
}

/* Click to Contact Styling */
.click-connect .btn {
    margin: auto;
    width: min(100%, 15rem);
}

/* Footer Styling */
.footer-logo {
    margin: auto;
    display: flex;
    width: 12.5rem;
    align-items: center;
    justify-content: center;
}
.footer-about .download-app-btn img {
    border-radius: var(--bs-border-radius-lg);
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-light);
}
.site-links .link-head {
    margin-bottom: 1.5rem;
}
.site-links .link-items {
    opacity: 0.75;
    padding: 0.5rem 0;
    position: relative;
    display: inline-flex;
    color: var(--bs-white);
    font-weight: var(--fw-medium);
}
.site-links .link-items::before, .copyright .contact-link::before {
    width: 0%;
    height: 1px;
    content: '';
    inset: auto 0 0;
    position: absolute;
    background-color: var(--bs-white);
    border-radius: var(--bs-border-radius);
    -webkit-transition: var(--fast-cubic-transition);
    -moz-transition: var(--fast-cubic-transition);
    -ms-transition: var(--fast-cubic-transition);
    -o-transition: var(--fast-cubic-transition);
    transition: var(--fast-cubic-transition);
}
.site-links .link-items:hover, .site-links .link-items:focus {
    opacity: 1;
}
.copyright .contact-link:hover::before, .copyright .contact-link:focus::before,
.site-links .link-items:hover::before, .site-links .link-items:focus::before {
    width: min(100%, 100px);
}
.copyright {
    display: flex;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}
.copyright .external-links {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.external-links a {
    font-size: 0.85rem;
    padding: 0.5rem 0;
    position: relative;
    color: var(--bs-white);
}
.external-links .contact-link {
    flex: 1 0 100%;
    text-align: center;
}
.copyright .contact-link::before {
    inset: auto auto 0;
}
.external-links .social-link {
    display: flex;
    height: 2.5rem;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    border-radius: var(--bs-border-radius-pill);
    border: var(--bs-border-width) var(--bs-border-style) transparent;
}
.external-links .social-link:hover, .external-links .social-link:focus {
    border-color: var(--bs-white);
}

/* -------------------------------------------------- Inner Page Styling -------------------------------------------------- */
/* Common Inner Pages Stylings */
.inner-banner {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    min-height: calc(100vh - 70px);
}
.inner-banner::before {
    inset: 0;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(rgba(var(--bs-dark-rgb), 0.1), rgba(var(--bs-dark-rgb), 0.65));
}

/* How it works page */
.how-banner {
    background: url("../images/how-it-works/banner-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Contact Us page */
.contact-banner {
    background: url("../images/contact-us/banner-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contact-form textarea.form-control {
    resize: none;
    height: 10rem;
}

/* Pricing page */
.pricing-banner {
    background: url("../images/pricing/banner-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.pricing-card {
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(var(--bs-dark-rgb), 0.25);
}
.pricing-cycle {
    position: relative;
    color: rgba(var(--bs-dark-rgb), 0.25);
}
.pricing-cycle::before {
    content: "";
    height: 2px;
    width: 4rem;
    margin: 0 auto;
    position: absolute;
    inset: auto 0 -0.25rem;
    background-color: #6561C5;
}
.pricing-cycle.half-yearly::before {
    background-color: #26BAB4;
}
.pricing-cycle.yearly::before {
    background-color: #8B7DAB;
}
.pricing-card .detail-list {
    padding-left: 1.5rem;
}
.pricing-card .detail-list li {
    position: relative;
}
.pricing-card .detail-list li::before {
    content: "\f00c";
    color: #5BDF5D;
    position: absolute;
    text-rendering: auto;
    display: inline-block;
    font: var(--fa-font-solid);
    inset: 5px auto auto -1.5rem;
    -webkit-font-smoothing: antialiased;
}
.pricing-card .btn {
    z-index: 1;
    position: relative;
}
.waves {
    z-index: 0;
    width: 250%;
    height: 7.5rem;
    inset: auto 0 0;
    position: absolute;
}
.wave-paths use {
    animation: move-waves 10s var(--ease-transition) infinite alternate-reverse both running;
}
.wave-paths use:nth-child(odd) {
    animation-direction: reverse;
    animation-duration: 15s;
}
.wave-paths use:nth-child(1) {
    animation-delay: -2s;
}
.wave-paths use:nth-child(2) {
    animation-delay: -3s;
}
.wave-paths use:nth-child(3) {
    animation-delay: -4s;
}
.wave-paths use:nth-child(4) {
    animation-delay: -5s;
}

/* Pricing Form page */
.plan-summary-card {
    display: flex;
    row-gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(var(--bs-dark-rgb), 0.25);
}
.plan-summary-card .amount-details h3 span {
    font-size: 80%;
    color: var(--bs-gray-400);
    font-weight: var(--fw-semibold);
}
.payment-options {
    display: flex;
    flex-wrap: wrap;
}
.payment-options .form-check {
    flex: 1 0 100%;
    margin-bottom: 1rem;
}